.container-sensors {
  max-width: 1200px;
  min-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(11, 112, 16);
  margin: 10px auto;
  border-radius: 30px;
  outline: auto;
  outline-color: black;
}
